<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaxsen.xianghacaipu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.food.activity.TuijianAllActivity" />
        <activity android:name=".ui.food.activity.DetailActivity"/>
        <activity android:name=".ui.cook.activity.FoodVodieActivity" />
        <activity android:name=".ui.cook.activity.DinnerActivity" />
        <activity android:name=".ui.cook.activity.SearchActivity" />
        <activity android:name=".ui.cook.activity.SearchDetailActivity" />
        <activity android:name=".ui.cook.activity.JXMenuActivity" />
        <activity android:name=".ui.cook.activity.PopularActivity"></activity>
    </application>

</manifest>